
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Niconne');
@import url('https://fonts.googleapis.com/css?family=Handlee');
body{
	background-image: url(../images/railmall.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  	font-family: 'Yanone Kaffeesatz', sans-serif;
}
header {
    padding: 20px;
}
#two_column {
    padding: 20px;
}
#left {
    padding: 20px;
    float: left;
    width: 60%;
}
#right {
	text-align: center;
    padding: 20px;
    float: right;
    width: 35%;

}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
h1{
	text-align: left;
	font-size: 30px;
	margin: 5px 2px 10px;
}
ul{
	list-style: none;
	text-align: left;
	font-size: 25px;
	line-height: 1.1em;
	margin: 30px 10px 30px;
}
li {
  	float: left;
  	width: 25%;
    height: 6em;
  	outline: 3px solid #222;
  	text-align: center;
  	line-height: 6em;
  	color: #000;
  	background: #fff;
}
#slogan{
	font-family: 'Dancing Script', cursive;
	font-family: 'Niconne', cursive;
	text-align: center;
	font-style: italic;
	font-size: 60px;
	}
hr{
	width: 30%;
}
div{
	font-size: 1.2em;
  	width: 100%;
  	padding: 2%;
  	  	display: inline-block;
}
#stories{
  	float: right;
}
h2,h3{
	text-align: center;
    vertical-align: bottom; 
	font-size: 15px;
	margin: 20px 30px 10px;
}
a{
	color: #fff;
}
footer {
      padding: 15px;
}
