
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Niconne');
@import url('https://fonts.googleapis.com/css?family=Handlee');
body{
	background-image: url(../images/railmall.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  	font-family: 'Yanone Kaffeesatz', sans-serif;
}
header {
    padding: 5%;
}
body {
    text-align: center;
    margin: 30px 10px 30px;
    overflow-x: hidden; 
  }
#two_column {
    padding: .1%;
}
#right {
	text-align: center;
    padding: 5%;
    float: right;
    width: 35%;
}
.wrapper {
	overflow: hidden;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
h1{
	text-align: left;
	font-size: 30px;
	margin: 5px 2px 10px;
}
ul{
	list-style: none;
	text-align: left;
	font-size: 25px;
	line-height: 1.1em;
	margin: 30px 10px 30px;
}
li{
    color: #fff;
  	float: left;
  	width: 20%;
    height: 6em;
  	outline: 1px solid #fff;
  	text-align: center;
  	line-height: 6em;
}
a{
	width: 100%;
	height: 100%;
    background: #000;
    display: block;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
a:hover{
    background-color: yellow;
}
#slogan{
	font-family: 'Dancing Script', cursive;
	font-family: 'Niconne', cursive;
	font-style: italic;
	font-size: 60px;
	}
hr{
	width: 30%;
}
div{
	text-align: center;
	font-size: 1.2em;
  	width: 100%;
  	padding: 2%;
  	display: inline-block;
}
#stories{
  	float: right;
}
footer {
	text-align: center;
	color: #0000FF
	font-size: 2em;
	display: inline-block;
}
@media only screen and (max-width: 800px) {
 #right {
 	float: left;
	width: 80%;
	margin:0 auto;
    font-size: 2em;
  }
}
@media only screen and (max-width: 480px) {
 #stories {
 	float: none;
 	font-size: 1em;
    display: inline;
  }
  ul {
  	font-size: 1em;
  }
 li {
 	width: 80%;
 	outline-width: .1em;
    padding: .1em;
    height: 2em;
    line-height: 2em;
  }
.inline {
	text-align: center;
  }
.inline li {
	display: inline;
	overflow: hidden;
  }
}
