
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body{
	font-weight:bold;
    background-image: url(../images/railmall.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
	text-align: left;
	font-size: 30px;
	margin: 5px 2px 10px;
}
ul{
	text-align: left;
	font-size: 15px;
	line-height: 1.1em;
	margin: 10px 10px 10px;
}
#slogan{
	font-family: Arial;
	font-family: cursive; 
	text-align: center;
	font-style: italic;
	font-size: 50px;
	margin: 160px 50px 100px;
}
hr{
	width: 100px;
}

h2{
	text-align: center;
    vertical-align: bottom; 
	font-size: 15px;
	margin: 40px 50px 10px;
}
