body{ 
	 text-align: center;
	 background-image: url(../images/railmall.png);
  	 background-size: cover;
  	 background-position: center center;
     background-repeat: no-repeat;
  	 background-attachment: fixed;
  	 background-size: cover;
   	 color: #fff;
  	 font-family: Cubano;
}
h1{
	font: 1000 120px/120px;
}
#slogan{
	font-style: italic;
	text-align: right;
	font: 400 120px/120px;
}
hr{
	wid:20px;
}