body{
	font-weight:bold;
    background-image: url(../images/railmall.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  	font-family: Arial;
}
h1{
	text-align: left;
	font-size: 50px;
	margin: 10px 10px 40px;
}
#slogan{
	text-align: center;
	font-style: italic;
	font-size: 25px;
	margin: 50px 50px 70px;
}
hr{
	width: 20px;
}
p{
	text-align: center;
	font-size: 20px;
}
h2{
	text-align: center;
    vertical-align: bottom; 
	font-size: 10px;
}
