body{
  text-align: center;
  background: url("images/railmall.png");
  background-size: cover;
  color: #fff;
  font-family: Cubano;
}

h1{
  color: #fff;
}

#slogan{
font-style: italic;
text-align: right;
}

hr{
wid:200px;
}
