body{ 
	 font-weight:bold;
     background-image: url(../images/railmall.png);
  	 background-size: cover;
  	 background-position: center center;
     background-repeat: no-repeat;
  	 background-attachment: fixed;
  	 background-size: cover;
   	 color: #fff;
  	 font-family: Arial;
}
h1{
	font-size: 50px;
	text-align: left;
    vertical-align: top;
}
#slogan{
	text-align: center;
	font-style: italic;
	font-size: 25px;
}
hr{
	width: 100px;
}
p{
	text-align: center;
	font-size: 20px;
}
h2{
	text-align: center;
    vertical-align: bottom; 
	font-size: 20px;
}
